---
layout: layouts/home.njk
eleventyNavigation:
  key: Archive
  order: 2
---
<h1>Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

<h1>Events</h1>
{% set eventslist = collections.events %}
{% include "eventslist.njk" %}
