---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 10
numberOfLatestEventsToShow: 10
---

			{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
{# <h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1> #}

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
<div class="row p-1 p-lg-4">
  <h1 class="text-dark fw-bold pb-3">NEWS</h1>
{% include "featuredpost.njk" %}
</div>
<div class="row p-1 p-lg-4">
{% include "postslist.njk" %}
<a href="#" class="text-dark fw-bold pb-3 d-flex justify-content-end">EXPLORE MORE</h1>
</a>




