{%- css %}.eventlist { counter-reset: start-from {{ (eventslistCounter or eventslist.length) + 1 }} }{% endcss %}
<ol reversed class="postlist d-flex">
{% for event in eventslist | reverse %}
	<li class="postlist-item{% if event.url == url %} postlist-item-active{% endif %}">
		<a href="{{ event.url }}" class="postlist-link">
			{# {% if post.data.title %}
			{{ post.data.title }}{% else %}<code>{{ post.url }}</code>
			{% endif %} #}
			{% if event.data.cover %}
			<img width="200px" class="img-fluid" src="../{{ event.data.cover }}" alt="{{ event.data.title }}">
			{% endif %}
		</a>
		
		{# <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time> #}
	</li>
{% endfor %}
</ol>
