{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}

{% for post in postslist | reverse %}
{% if post.data.featured == true %}
<a class="text-dark fs-4 pb-3" href="{{ post.url }}" class="postlist-link">
			{% if post.data.title %}
			{{ post.data.title }}
			{% endif %}
			
	</a>
<div class="col-12 col-lg-6 ">
	{% if post.data.cover %}
	<img class="img-fluid" src="{{ post.data.cover }}" alt="{{ post.data.title }}">
	{% endif %}
</div>
<div class="col-12 col-lg-6">
	{{ post.content | safe }}

	{# {% if post.data.title %}
			{{ post.data.title | safe }}
	{% endif %} #}
</div>



{% endif %}
{% endfor %}

