<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		{%- css %}* { box-sizing: border-box; }{% endcss %}
		{#- Add the contents of a file to the bundle #}
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		
		
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/lib/flaticon/font/flaticon.css" rel="stylesheet"> 
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="/lib/slick/slick.css" rel="stylesheet">
    <link href="/lib/slick/slick-theme.css" rel="stylesheet">
		{#- Or add from node_modules #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header >
			<div class="container ">
				<div class="row d-flex justify-content-between align-items-center gap-2 gap-lg-0">
					 <div class="col-12  col-lg-3  order-1 order-lg-0">
						<a href="/" class="home-link"><img class="img-fluid"  src="/img/web-logo-diamond-Revc-2.png" alt="{{ metadata.title }}"/></a>
					</div>
					<div class="col-12 col-lg-6 menu-nav-header order-0  order-lg-1 d-flex flex-lg-column gap-2">
						<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between">
							<div class="w-100 ">
								{# <a class="navbar-brand" href="#">Navbar</a> #}
								<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
								</button>
								<div class="collapse navbar-collapse" id="navbarNav">
								<ul class="navbar-nav d-flex">
									{# <li class="nav-item">
									<a class="nav-link fw-bold active" aria-current="page" href="#">Home</a>
									</li> #}
									<li class="nav-item">
										<a class="nav-link text-dark fw-bold fs-5" href="#">Property Search</a>
									</li>
									<li class="nav-item">
									<a class="nav-link text-dark fw-bold fs-5" href="#">Commercial</a>
									</li>
									<li class="nav-item">
									<a class="nav-link text-dark fw-bold fs-5" href="#" >Farm Land</a>
									</li>
									
								</ul>
								
								</div>
							</div>
							
						</nav>
						<hr class="m-0">
						<h2 class="text-primary fs-5 pt-2 " >NJ & Fla R.E. Owner/Broker - 4605 B Nottingham Way Hamilton, NJ 08690</h2>
						{# <nav class=" d-flex flex-column gap-3">
					
							<ul class="nav d-flex  gap-3">
							{%- for entry in collections.all | eleventyNavigation %}
								<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
							{%- endfor %}
								<li class="nav-item"><a href="#" class=" text-primary fs-xl">Home </a></li>
								<li class="nav-item"><a href="#" class=" text-primary fs-xl">Property Search </a></li>
								<li class="nav-item"><a href="#" class=" text-primary fs-xl">Commercial</a></li>
								<li class="nav-item"><a href="#" class=" text-primary fs-xl">Farm Land</a></li>

							</ul>
							
						</nav> #}
					</div>
					<div class="col-12  col-lg-3 bg-light order-2  order-lg-2">
						<span class="ps-4 text-danger fs-3 fw-bold  ">
							CALL US NOW <i class="fa fa-phone"></i>
						</span>
						<a href="tel::6095886888" class="btn "><img class="img-fluid" src="img/web-logo-diamond-Revc-1.png" alt=""/></a>
					</div>

				</div>

			</div>
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer class="bg-dark d-flex flex-column gap-4">
			<div class="top-footer p-4">
				<div class="container">
        <div class="row">
           <div class="col col-12 col-lg-4 ">
            <h2 class="text-uppercase">Karen L. Dippolito</h2>
			<div class="content d-block d-lg-flex  gap-2">
				<img src="img/profile.jpg" alt="">
				<ul class="d-flex flex-column gap-2 list-unstyled">
				<li><a href="" class="text-white text-decoration-none">609-588-6888</a></li>
				<li><a href="" class="text-white text-decoration-none">diamondip1@aol.com</a></li>
				<li><a href="" class="text-white text-decoration-none">NJ & FLA R.E. BROKER</a></li>
				</ul>
			</div>
        </div>
        <div class="col col-12 col-lg-4">
            <p>An Equal Opportunity Company. Equal Housing Opportunity. All rights reserved. Subject to errors and omissions. List with Diamond Homes Realty, we have buyers</p>
			<p>2018 © Diamond Homes Realty, all rights reserved</p>
        </div>
		 <div class="col col-12 col-lg-4">
            <h2 class="text-uppercase">Contact us</h2>
        </div>
        </div>
    </div>
			</div>
			<div class="copyright-footer">
            
            <div class="container d-flex justify-content-between">
                <div class="copyright">
                    Copyright © 2014-2025 Petoskey Stone Tile &amp; More | Website developed &amp;
                    hosted by
                    <a class="text-white" href="https://schrader.co/"> Schrader Web Solutions </a>
                </div>

                <div class="copyright">
                    <a href="#" class="text-white" >Privacy Policy</a>
                    |
                    <a href="#" class="text-white" >Terms Conditions</a>
                </div>
            </div>
        </div>
		</footer>
		  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/counterup/counterup.min.js"></script>
    <script src="/lib/slick/slick.min.js"></script>
		<script>
			new WOW().init();
    
		</script>
		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
